.addNewNode {
  display: flex;
  flex-direction: column;
  > * {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  > *:hover {
    background-color: #208ef0;
    color: #fff;
  }
}
