.editableCardContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.button {
  width: 100%;
}

.sortingHelperClass {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  margin: 1px 10px;
  box-shadow: 2px 2px 3px rgb(116, 116, 116);
}

.sortableGhost {
  position: absolute;
  z-index: 5;
}
