.actionPopover {
  :global(.ant-popover-inner-content) {
    padding: 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  > * {
    padding: 5px 20px;
    cursor: pointer;
    align-items: center;
  }
  > *:hover {
    background-color: #208ef0;
    color: #fff;
  }
}
